@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Хедер */

.navigation-link,
.navigation-footer-list {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 15px;
}

.search-form,
.search-button {
  font-size: 16px;
  background-color: transparent;
  float: left;
}

.header-form {
  width: 519px;
  margin-right: 26px;
}

.search-form {
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  padding: 10px 48px;
}

.search-button {
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  border-left: none;
}

.header-link {
  text-decoration: none;
  color: #000000;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.log-out-link {
  opacity: 0.3;
}

.catalog-button {
  padding: 15px 57px 15px 15px;
  margin-left: -15px;
  border: none;
  background-color: transparent;
}

.catalog-link {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  line-height: 18px;
}

.catalog-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
}

.catalog-list {
  width: 100%;
  height: 180px;
  padding: 33px 60px 27px;
  box-sizing: border-box;
  background-color: #ffe17f;
}

.catalog-item {
  list-style: none;
  line-height: 18px;
  width: 220px;
  margin-bottom: 18px;
  margin-right: 30px;
}

.smart-watches-item {
  margin-bottom: 54px;
}

.catalog-column {
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-content: flex-start;
}

.navigation-list {
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 501px;
  gap: 15px;
  margin: 0;
  margin-right: -15px;
  flex-wrap: wrap;
}

.user-menu {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.header-container {
  width: 1040px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 15px;
}

.device-logo {
  margin-bottom: 30px;
}

.header-menu {
  margin-left: auto;
  display: flex;
  min-width: 240px;
  justify-content: space-between;
}

.header-catalog {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.log-in-menu {
  width: 230px;
  display: flex;
  justify-content: space-between;
  margin-left: 26.5px;
  ;
}

.login-link {
  margin: 0;
}

/* Слайдер */

.slider-description,
.slider-image {
  width: 50%;
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 70px;
}

.slider-background {
  width: 1160px;
  height: 300px;
  background-color: #ffe17f;
}

.slider-number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.slider-description-title {
  margin-bottom: 29px;
}

.slider-description .slider-description-text {
  margin: 0;
  margin-bottom: 50px;
}

.description {
  color: #444444;
  margin: 0;
}

.button-slide {
  display: block;
  margin-bottom: 50px;
}

.button-primary {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 0;
  background-color: transparent;
  letter-spacing: 0.2em;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-advantages {
  margin: 0;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.product-advantages-title {
  margin-bottom: 12px;
}

.slider-pagination {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 76px;
  height: 12px;
  padding: 0;
  margin: 0 auto;
}


/* Категории каталога */

.catalog-category-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.catalog-category-list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.catalog-category-item {
  width: 160px;
}

/* Табы */

.navigation-menu-list {
  list-style: none;
  width: 287px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.navigation-description-item {
  list-style: none;
  width: 100%;
  padding-left: 121px;
}

.navigation-description-list {
  padding: 0;
}

.navigation-description-title {
  margin-bottom: 34px;
}

.title-description {
  width: 452px;
}

.tabs-container {
  display: flex;
  min-height: 391px;
  align-items: center;
  margin-bottom: 70px;
}

.navigation-menu-button-active {
  color: #ffe17f;
  background-color: #000000;
  width: 100%;
  height: 40px;
  padding: 0;
}

.product-advantages-title {
  font-size: 36px;
}

.product-advantage-description {
  font-size: 16px;
  color: #444444;
  display: block;
  margin-left: 0;
}

/* Кнопка доставки */

.delivery-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  background-color: #F0F0F0;
  border: 0;
  width: 100%;
  padding: 40px 125px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 70px;
}

.big-delivery-button {
  width: 1160px;
  margin: 0 auto;
}

/* О нас */

.container-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.companies-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.about-us {
  width: 520px;
}

.contacts {
  width: 532px;
}

.companies-item {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
}

.companies-item:not(:last-child) {
  margin-bottom: 19px;
}

.contacts-title {
  margin-bottom: 48px;
}

.about-us-description,
.description-contacts {
  margin-bottom: 30px;
}

/* Контакты */

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address a {
  color: #444444;
}

.contacts-time {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.online-store-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

/* Подписка */

.subscription-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscription-form {
  width: 1158px;
  height: 57px;
  display: flex;
  justify-content: center;
  margin-top: 144px;
  margin-bottom: 56px;
}

.form-correction {
  width: 160px;
  height: 30px;
  margin-left: auto;
  padding: 13.5px 0;
}

.subscription {
  background-color: #F0F0F0;
}

.description-newsletter {
  width: 560px;
  padding-top: 74px;
}

.subscription-newsletter {
  padding-top: 64px;
  width: 400px;
  padding-left: 7px;
  margin: 0;
}

.field {
  font-size: 18px;
  color: #444444;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #c4c4c4;
  width: 557px;
  height: 54px;
  padding: 0;
  float: left;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  border: 3px solid #c4c4c4;
  background-color: transparent;
  text-transform: uppercase;
  width: 253px;
  height: 57px;
  padding: 0;
  float: left;
}

/* Хлебные крошки */

.breadcrumbs-container {
  width: 1040px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 34px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-item {
  line-height: 20px;
}

/* Фильтр */

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

.catalog-products {
  margin-right: 60px;
}

/* Сортировка */

.select-control {
  font-size: 18px;
  line-height: 30px;
  width: 141px;
  height: 30px;
}

.sorting {
  padding: 25.5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-item {
  height: 30px;
  width: 30px;
}

.sorting-title {
  margin: 0;
}

.sorting-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Каталог */

.catalog-container {
  display: flex;
}

.catalog-page {
  background-color: #F0F0F0;
}

.catalog-filter-group {
  width: 200px;
}

.catalog-filter-item {
  list-style: none;
}

.catalog-section {
  padding-top: 70px;
  width: 840px;
  height: 100%;
  background-color: #ffffff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

.product-card {
  width: 360px;
}

.product-card-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  color: #444444;
  text-align: right;
  line-height: 21px;
}

/* Кнопка загрузить еще */

.button-download-more {
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 44px 40px;
}

/* Пагинация */

.pagination {
  width: 760px;
  height: 71px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 78px;
}

.pagination-number {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  padding: 10px 16.5px;
}

.other-pages {
  padding: 10px 16.5px;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-next {
  text-decoration: none;
  width: 141px;
  height: 71px;

}

.pagination-prev {
  width: 128px;
  height: 71px;
}

.pagination-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 141px;
  height: 71px;
  padding: 25px;
  color: #000000;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

/* Футер */

.footer-address {
  width: 239px;
  padding-top: 62px;
  margin-right: 119px;
}

.logo {
  margin-bottom: 35px;
}

.footer-container {
  display: flex;
}

.footer-contacts {
  max-width: 180px;
  text-align: right;
  padding-top: 140px;
  margin-left: auto;
}

.navigation-footer-list {
  list-style: none;
  display: flex;
  width: 444px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.page-footer-address {
  color: #ffffff;
  font-style: normal;
}

.device-address {
  margin: 0;
}

.navigation-footer-social {
  padding-top: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-list {
  margin-top: 62px;
  margin-bottom: 61px;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.navigation-footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-contacts-phone-link {
  color: #ffffff;
  font-style: normal;
  text-decoration-line: underline;
}

.footer-contacts-phone {
  margin-bottom: 63px;
}
