@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

/* Хедер */

.navigation-link,
.navigation-footer-list {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
}

.search-form,
.search-button {
  font-size: 16px;
}

.header-link {
  text-decoration: none;
  color: #000000;
}

.log-out-link {
  opacity: 0.3;
}

.catalog-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.catalog-link {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.catalog-item-background {
  width: 1160px;
  height: 180px;
  background-color: #ffe17f;
}

/* Слайдер */

.slider-background {
  width: 1160px;
  height: 300px;
  background-color: #ffe17f;
}

.slider-number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

.title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.description {
  color: #444444;
}

.button-primary {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 0;
  background-color: transparent;
  letter-spacing: 0.2em;
}

/* Категории каталога */

.catalog-category-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.category-background-image {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-position: 50% 50%;
}

.vr {
  background-image: url("../images/category/VR-icon.svg");
  background-repeat: no-repeat;

}

.selfie {
  background-image: url("../images/category/selfie-icon.svg");
  background-repeat: no-repeat;
}

.cameras {
  background-image: url("../images/category/cameras-icon.svg");
  background-repeat: no-repeat;
}

.fitness-bracelet {
  background-image: url("../images/category/fitnes-bracelet-icon.svg");
  background-repeat: no-repeat;
}

.smart-watches {
  background-image: url("../images/category/smart-watches-icon.svg");
  background-repeat: no-repeat;
}

.cvadrocopters {
  background-image: url("../images/category/cvadrocopter-icon.svg");
  background-repeat: no-repeat;
}

/* Табы */

.navigation-menu-button-active {
  color: #ffe17f;
  background-color: #000000;
  width: 280px;
  height: 40px;
}

.product-advantages-title {
  font-size: 36px;
}

.product-advantage-description {
  font-size: 16px;
  color: #444444;
}

/* Кнопка доставки */

.delivery-button {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  background-color: #F0F0F0;
  border: 0;
  width: 1160px;
  height: 100px;
  text-align: center;
  letter-spacing: 0.2em;
}

/* О нас */

.companies-item {
  color: #ffc700;
}

.text {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
}

/* Контакты */

.contacts-address {
  font-style: normal;
}

.contacts-address a {
  color: #444444;
}

.online-store-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

/* Подписка */

.subscription {
  background-color: #F0F0F0;
}

.field {
  font-size: 18px;
  color: #444444;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #c4c4c4;
  width: 810px;
  height: 57px;
}

.newsletter-button {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  border: 3px solid #c4c4c4;
  padding: 18px 39px;
  background-color: transparent;
  text-transform: uppercase;
}

/* Хлебные крошки */

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/* Фильтр */

.catalog-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

/* Сортировка */

.select-control {
  font-size: 18px;
  line-height: 30px;
}

/* Каталог */

.background-catalog {
  width: 1440px;
  left: 0;
  top: 381px;
  background-color: #f0f0f0;
}

.catalog-list {
  width: 840px;
  background-color: #ffffff;
}

.product-card-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.product-card-price {
  color: #444444;
  text-align: right;
  line-height: 21px;
}

/* Кнопка загрузить еще */

.button-download-more {
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Пагинация */

.pagination {
  width: 760px;
  height: 71px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-button {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 141px;
  height: 71px;
  padding: 25px;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

/* Футер */

.footer {
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.page-footer-address {
  color: #ffffff;
  font-style: normal;
}

.navigation-footer-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-contacts-phone-link {
  color: #ffffff;
  font-style: normal;
  text-decoration-line: underline;
}
